Source: apache-delay
Maintainer: carrvo <carrvo@gmail.com>
Section: httpd
Priority: optional
Standards-Version: 4.6.2
Build-Depends: debhelper-compat (= 13)
Homepage: https://github.com/carrvo/apache-delay
Vcs-Browser: https://github.com/carrvo/apache-delay
Vcs-Git: https://github.com/carrvo/apache-delay

Package: apache-delay
Architecture: all
Depends: ${misc:Depends}, apache2
Homepage: https://github.com/carrvo/apache-delay
Description: Delays apache2 startup.
